.main {
    padding: 68px 12px 12px;
}
.carousel-container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: clamp(240px,240px,240px);
    overflow: hidden;
}
.category-container {
    margin-top: 30px;
    width: 100%;
}