.search-wrapper {
    border-radius: 16px;
    border: 1px solid #e5e7e9;
    overflow: hidden;
    background: #ffffff;
}
.form-inline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.input-box {
    width: 100%;
    padding: 5px 12px;
    background: #ffffff;
    font-size: 14px;
    line-height: 22px;
    color: rgba(49,53,59, .68);
    border: none;
    outline: none;
    cursor: pointer;
}
.button-search {
    border: none;
    outline: none;
    padding: 5px;
    width: 20%;
    background: #ffffff;
    color: rgba(49,53,59, .68);
    cursor: pointer;
}