:root {
  --disable : rgba(49,53,59,.68);
  --dark : rgba(49,53,59,.96);
  --white : #ffffff;
  --young-blue : #2398db;
  --gray-transparent : #e5e7e9;
  --gray-dark : #f3f4f5;

  --border-basic : 1px solid #e5e7e9;
  --shadow-basic : rgba(49, 53, 59, .12) 0px 1px 6px 0;

  --ff-ss : 'Open Sans',sans-serif;
  --fw-normal : normal;
  --fw-slice : 400;  
  --fw-bold : 600;
  --fw-bolder : 800;
  --fs-basic : 14px;
  --fs-sm : 11px;
  --fs-normal : 16px;
  --fs-md : 18px;
  --fs-lg : 20px;
  --fs-xl : 24px;
  --fs-xxl : 32px;
}
*,::before,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
}

a {
  text-decoration: none;
  color : rgba(0,0,0, .7);
}

body, html {
  background: var(--gray-transparent,#e5e7e9);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color : var(--tc-hitam-54,rgba(0,0,0, .54));
}
