.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
}

.navbar-search {
    flex: 1 60%;
}
.navbar-icons {
    flex: 1 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapping-icons {
    list-style: none;
    display: flex;
    align-items: center;
}
.li-icons {
    padding: 0 10px;
}
.icons {
    width: 24px !important;
    height: 24px !important;
    color: rgba(49,53,59,.96);
}
.button-menu {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}